name: Test

on:
  push:
    branches-ignore:
      - main

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  FILEBOT_LICENSE: ''
  REMOTE_PORT: 8080
  LOCAL_PORT: 8081
  TRANSMISSION_TARGET: filebot

jobs:
  test-flexget:
    name: Test the flexget image will build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: docker compose build flexget
      - run: docker compose run --rm flexget flexget --version

  test-transmission:
    name: Test the transmission image will build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: docker compose build transmission
